upstream {{ item.key }} {
{% for server in groups['webservers'] %}
    server {{ hostvars[server]['ansible_host'] | default(server) }}:{{ item.value.backend }};
{% endfor %}
}

server {
    listen {{ item.value.frontend }};

    location / {
        proxy_pass http://{{ item.key }};
    }
}