[defaults]
# AWX ignores most of this, but useful for local runs
inventory       = hosts.ini
remote_user     = vagrant
host_key_checking = False
roles_path      = ./roles

[privilege_escalation]
become          = True
become_method   = sudo
become_user     = root
become_ask_pass = False